<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shivanshu.defencechat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DChat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity
            android:name=".CallActivity"
            android:label="Call" />
        <activity
            android:name=".ChatActvity"
            android:label="Chat" />
        <activity
            android:name=".MissionActivity"
            android:label="Mission" />
        <activity android:name=".LginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity android:name=".SetPassword"></activity>
    </application>

</manifest>